h1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.aboutPageRibbonImage {
  position: relative;
}

.aboutTitle {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the text */
  color: white; /* Or any color that contrasts well with your image */
  padding: 10px;
  z-index: 10;
  font-size: 5rem;
  text-align: center;
  animation-name: aboutFadeIn;
  animation-duration: 1s;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 300px 150px 300px;
  animation-name: aboutFadeIn;
  animation-duration: 1s;
}

.aboutMohr {
  width: 50%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  padding: 25px;
  animation-name: aboutFadeIn;
  animation-duration: 1s;
}

.aboutMohr div {
  font-weight: 500;
}

.aboutImageWrapper {
  position: relative;
  padding: 15px;
}

.aboutImageWrapper img {
  width: 25%;
  height: auto;
  padding: 150px;
}

.aboutTrevorTitle {
  padding-bottom: 50px;
}

.aboutTrevorContainer {
  display: flex;
  font-size: 1.4rem;
  padding: 25px 300px;
  animation-name: aboutFadeIn;
  animation-duration: 1s;
  background-color: #91b7d4;
}

.aboutTrevor {
  padding: 0px 25px;
  width: 65%;
  text-align: left;
}
.aboutTrevor p {
  padding: 0px 25px 25px 25px;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: left;
}

.aboutTrevorContainer2 {
  display: flex;
  padding: 150px 300px;
}

.aboutTrevorContainer2 p {
  padding: 0px 40px 25px 40px;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: left;
  width: 50%;
}

.aboutTrevorImageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.aboutTrevorImageWrapperFamily {
  position: relative;
  padding-left: 50px;
}

.aboutTrevorImageWrapperFamily img {
  width: 25%;
  height: auto;
  padding: 150px;
}

@keyframes aboutFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aboutFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (max-width: 1850px) {
  .aboutContainer {
    padding: 25px;
    animation-name: aboutFadeIn;
    animation-duration: 2s;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (max-width: 1700px) {
  .aboutTrevorContainer {
    padding: 50px 100px;
  }

  .aboutTrevorContainer2 {
    padding: 50px 100px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media (max-width: 1350px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutMohr {
    padding: 15px 0px;
  }

  .aboutImageWrapper {
    position: relative;
    padding: 0px;
  }

  .aboutTrevorTitle {
    padding-bottom: 15px;
  }

  .aboutTrevorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 75px 25px 75px;
  }

  .aboutTrevorImageWrapperFamily {
    padding: 15px;
  }

  .aboutTrevor {
    padding: 25px;
    width: 100%;
    text-align: left;
  }

  .aboutTrevor p {
    font-size: 1.2rem;
    width: 100%;
  }

  .aboutTrevorContainer2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    padding: 25px;
  }

  .aboutTrevorContainer2 p {
    font-size: 1rem;

    text-align: left;
    width: 100%;
    padding: 25px;
  }

  .aboutTrevorImageWrapper {
    height: auto;
  }

  .aboutTrevorContainer2 {
  }

  h1 {
    padding-top: 10px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 950px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .aboutTrevorContainer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 25px 50px;
    animation-name: aboutFadeIn;
    animation-duration: 2s;
  }

  .aboutTrevor p {
    padding: 5px;
    text-align: left;
  }
  .aboutImageWrapper {
    position: relative;
    overflow: hidden;
  }

  .aboutImageWrapper img {
    width: 100%;
    height: auto;
  }

  .aboutTrevorImageWrapper {
    position: relative;
    width: 75%;
    height: auto;
    align-self: center;
  }

  .aboutMohr {
    font-size: 1rem;
  }

  .aboutTrevor p {
    font-size: 1rem;
  }

  .aboutTitle {
    font-size: 2rem;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 600px) {
  h1 {
    display: flex;
    justify-content: center;
    padding: 25px 10px 10px 10px;
    font-size: 1.4rem;
  }

  .aboutImageWrapper img {
    width: 25%;
    height: auto;
    padding: 15px;
  }

  .aboutMohr {
    font-size: 1rem;
  }

  .aboutTrevor {
    padding: 0px 25px 25px 25px;
    font-size: 1rem;
  }

  .aboutTrevor p {
    font-size: 1rem;
  }
  .aboutTrevorContainer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 25px 25px;
    animation-name: aboutFadeIn;
    animation-duration: 2s;
  }
  .aboutTitle {
    font-size: 1.5rem;
    padding: 20px;
  }
  .aboutTrevorImageWrapper {
    position: relative;
    padding-left: 0px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 450px) {
  .aboutContainer {
    font-size: 1rem;
    padding: 25px;
  }
  .aboutMohr {
    width: 100%;
    padding: 25px 25px;
  }
}
