.STCContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.STCTextContainer {
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  font-size: 2rem; /* Adjusted font size for better readability */
  animation-name: STCFadeIn; /* Renamed animation for text */
  animation-duration: 2s;
  padding-bottom: 25px;
}

.STCTextContainer p {
  padding: 20px 0px;
  font-size: 2rem; /* Adjusted font size for better readability */
  animation-name: STCFadeIn; /* Renamed animation for text */
  animation-duration: 2s;
}

.STCTextContainer p:nth-child(4) {
  padding-bottom: 30px; /* Adjust the value as needed */
}

.STCTextContainer h2 {
  text-align: flex-start;
  width: 100%;
  padding-bottom: 25px;
}

.STCTextContainer h3,
.STCTextContainer h4 {
  text-align: center;
  padding: 10px 0px;
}

.STCTextContainer h3 {
  margin-top: 25px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

.familySeatBeltImage {
  display: flex;
  justify-content: center;
  width: 100%;
}

.familySeatBeltImage > div {
  padding: 25px;
}

.CessnaPictureContainer img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

@keyframes STCFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media (max-width: 1732px) {
  .STCContainer {
    padding-top: 25px;
  }
  .STCTextContainer {
    width: 75%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 1.2rem; /* Adjusted font size for better readability */
    animation-name: STCFadeIn; /* Renamed animation for text */
    animation-duration: 2s;
    padding-bottom: 25px;
  }
  h3.STCTextContainer {
    align-items: center;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media (max-width: 1300px) {
  .familySeatBeltImage {
    flex-direction: column;
    align-items: center;
  }
  .familySeatBeltImage img {
    width: 100%;
    height: auto;
  }

  .CessnaPictureContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .STCTextContainer h2 {
    font-size: 1.5rem;
    padding-bottom: 15px;
  }

  .STCTextContainer {
    font-size: 1.2rem;
  }

  .STCTextContainer p {
    font-size: 1.2rem;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media (max-width: 375px) {
  .imageWrapper {
    text-align: center;
    padding-top: 0px;
  }
  .STCTextContainer h2,
  .STCTextContainer p {
    padding: 10px 0px;
    font-size: 1.2rem;
  }
  .STCTextContainer h3,
  .STCTextContainer h4 {
    text-align: center;
    padding: 10px 0px;
    font-size: 1.2rem;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* @media (max-width: 950px) {
  .STCContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .STCTextContainer h2 {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-bottom: 25px;
  }
  .STCTextContainer p {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    padding-bottom: 25px;
  }
} */
