.background {
  background-image: url("../../../public/jpeg-optimizer_contact_background.jpg"); /* Set the background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  height: 100vh;
}

.contactInfoContainer div {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: black;
  width: 100%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 1248px) {
  .contactInfoContainer div {
    padding: 10px;
    font-size: 2rem;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 830px) {
  .contactInfoContainer div {
    padding: 10px;
    font-size: 1.5rem;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 610px) {
  .contactInfoContainer div {
    padding: 10px;
    font-size: 1.5rem;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
