.background {
  background-image: url("../../../public/IMG_3638.jpeg"); /* Set the background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  height: 100vh;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: black;
  width: 100%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 1245px) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 830px) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 610px) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
