* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom, #6ea8d4, #ffffff);
  min-height: 100vh;
}
.nav__item {
  background-color: #314459;
  padding: 10px 30px;
  font-size: 1.3rem;
  margin: 15px;
  border-radius: 10px;
  border: 1px #314459 solid;
  color: white;
  cursor: pointer;
}
