.vidContainer {
  display: flex;
  justify-content: center;

  padding: 0px;
}

.videoContainer {
  padding: 25px;
  width: 55%;
  height: auto;
}

@media screen and (max-width: 1450px) {
  .videoContainer {
    /* padding: 25px; */
    width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 540px) {
  .videoContainer {
    /* padding: 25px; */
    width: 90%;
    height: auto;
  }
}
