.carousel {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  display: flex;
  overflow: hidden;
}

.carousel > div {
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel > div.inactive {
  transform: translateX(100%);
}

.carousel > div.active {
  transform: translateX(0);
}
