.imagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation-name: ConsultingFadeIn;
  animation-duration: 2s;
}

.consultingTitle {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the text */
  color: white; /* Or any color that contrasts well with your image */
  padding: 10px;
  z-index: 10;
  font-size: 5rem;
  text-align: center;
  animation-name: aboutFadeIn;
  animation-duration: 2s;
}

.consultingPageRibbonImage {
  position: relative;
}
.consultingTitleContainer {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  align-self: center;
  padding: 25px 0px;
  animation-name: ConsultingFadeIn;
  animation-duration: 2s;
}

.consultingTextContainer {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  animation-name: ConsultingFadeIn;
  animation-duration: 2s;
}

.consultingTextContainer > div:first-child {
  width: 50%;
  font-size: 1.3rem;
  padding: 50px 35px;
  animation-name: ConsultingFadeIn;
  animation-duration: 2s;
}

.imageContainer2 {
  width: 50%;
  padding: 50px;
  animation-name: ConsultingFadeIn;
  animation-duration: 2s;
}

.h1Container {
  padding-top: 30px;
  font-size: 7rem;
}

.itemListContainer {
  font-size: 1.1rem;
  padding-top: 25px;
}

@keyframes ConsultingFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 1450px) {
  .consultingTitleContainer {
    font-size: 1.1rem;
  }
  .consultingTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
  }
  .imageContainer2 {
    width: 100%;
    padding: 15px;
  }
  .consultingTextContainer > div:first-child {
    width: 75%;
    font-size: 1.3rem;
    padding: 50px;
  }
  .itemListContainer {
    font-size: 1.1rem;
    padding: 15px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 950px) {
  .consultingTitleContainer {
    align-self: center;
    padding: 15px 0px;
    font-size: 1.1rem;
  }

  .consultingTextContainer > div:first-child {
    width: 75%;
    padding: 0px;
  }

  .itemListContainer {
    padding: 10px 0px 10px 0px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 450px) {
  .consultingTitleContainer {
    font-size: 1rem;
  }
  .consultingTextContainer {
    font-size: 1rem;
  }

  .consultingTextContainer > div:first-child {
    font-size: 1rem;
  }
  .itemListContainer {
    padding: 5px;
  }
}
