h2 {
  width: 800px;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.videoContainer {
  position: relative;
  justify-content: center;
  width: 100%;

  height: auto;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.roboto-thin-ital {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

@media screen and (max-width: 1050px) {
  .mainContainer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }
}

@media screen and (max-width: 742px) {
  .mainContainer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
  }
}

@media screen and (max-width: 360px) {
  .mainContainer h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
  }
}
