.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.videoContainer {
  display: flex;
  justify-content: center;

  padding: 60px;
  min-height: 500px;
}

@media screen and (max-width: 1050px) {
  .mainContainer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }
}

@media screen and (max-width: 742px) {
  .mainContainer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
  }
}

@media screen and (max-width: 360px) {
  .mainContainer h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
  }
}
